.main {
    margin-top: 5%;
   flex-flow: row wrap;
   justify-content: space-between;
}
.list{
    display: flex;
    flex-wrap: wrap;
}
.view {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#search{
    border-radius: 5px;
}
.view li{
    display: inline-block;
    margin-right: 5px;
} 
.vien {
    border: 1px solid gray;
    width: auto;
    border-radius: 6px;
    flex-wrap: wrap;
    color: #516FD4;
}
.user{
    width: 300px;
    height: 200px;
}
.user li {
    display: inline-block;
}